.decoracion-seccion {
   background: radial-gradient(1500px  at left  , rgba(18, 39, 79, 0.0), transparent 24%),
               radial-gradient(1500px  at right  , rgba(18, 39, 79, 0.0), transparent 24%),

   linear-gradient(180deg, #07101F 0%, #07101F 100%);
  
  border: 1px solid var(--color-border);
}

.tarjetas-celestes {
  position: relative;
  background: var();
  color: var(--color-white);
  backdrop-filter: blur(14px);
  cursor: default;
 border: 1px solid var(--color-border);
 text-shadow: 0px 0px 10px var(--color-white);

}


.parrafo-sobre-mi {
  border-left: 2px solid var(--color-border-blue-light);
  color: var(--color-muted);
}

/* Arriba y abajo imagen y marco */

.animacion-flotante-foto {
    animation: arriba-abajo 17s ease-in-out infinite;
    transform-origin: center;
}

@keyframes arriba-abajo {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    25% {
        transform: translateY(-8px) rotate(2deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    75% {
        transform: translateY(8px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}


.fondo-svg {
    background-image: url(".assets/img/backgrounds/fondo-estrellas.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
