.enlace {
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 13px 13px  ;
}


.primary {  top:25%; left:20%;
	        background:linear-gradient( to top right, #67E8B5 0%, #67E8B5 40%);
	     /*   box-shadow: 1px 1px 30px #67E8B5;*/
            border: 0px solid var(--color-border);

        }


.secondary  { top:25%; left:65%;
	        /*background:linear-gradient( to top right,rgba(117,117,117 ,1) 0%, rgba(33,33,33 ,1) 90%);*/
            border: 1px solid var(--color-border);
	       /* box-shadow: inset 1px 1px 30px rgba(33,33,33 ,1);*/
             }


.secondary:hover { 
    color: var(--color-blue-light-text-personality);
    border: 1px solid var(--color-border-blue-light);

}

.secondary-transparent  { top:25%; left:65%;
	        /*background:linear-gradient( to top right,rgba(117,117,117 ,1) 0%, rgba(33,33,33 ,1) 90%);*/
	       /* box-shadow: inset 1px 1px 30px rgba(33,33,33 ,1);*/
             color: var(--color-blue-light-text-personality);
        }
