.t-casas {
  color: var(--primary);
}

/* Etiqueta superior
  <INGENIERO INFORMÁTICO/> */

.texto-ing-info {
  font-family: "JetBrains Mono", monospace;
  font-size: var(--text-label);
  letter-spacing: 0.08em;
  color: var(--primary-text);

}

.texto-ing-info span {
  display: inline-block;
  width: 35px;
  height: 1px;

  background: linear-gradient(90deg,
      transparent,
      var(--primary));
}

.texto-ing-info span:last-of-type {
  display: inline-block;
  width: 35px;
  height: 1px;
  margin-left: 5px;
  background: linear-gradient(90deg,
      var(--primary),
      transparent);
}

.texto-presentacion {
  color: var(--text-muted);


}


/* 
   Disponibilidad */

.diseño-disponibilidad {
  display: inline-flex;
  align-items: center;
  background: var(--bg-second);
  font-family: "JetBrains Mono", monospace;
  font-size: var(--text-label);
  letter-spacing: 0.08em;
  color: var(--primary-text);
  border: 1px solid var(--border);

}

.shadow-disponibilidad {
  border-radius: 50%;
  box-shadow: 0 0 12px var(--primary);
  animation: parpadeo 3s ease-in-out infinite;
}

@keyframes parpadeo {

  0%,
  100% {
    box-shadow: 0 0 12px var(--primary);
  }

  50% {
    box-shadow: 0 0 3px transparent;

  }
}

/* 
   TEXTO PRESENTACIÓN */

.parrafo-presentacion {
  position: relative;
  font-size: var(--text-body);
  line-height: var(--text-body--line-height);
  color: var(--text-muted);
  max-width: 36rem;
  overflow: hidden;
}


.tag-tecnologias {
  align-items: center;
  font-size: var(--text-label);
  letter-spacing: 0.08em;
  color: var(--text-muted-secondary);
  cursor: default;

}

.tag-tecnologias span {
border: 1px solid var(--border);
background: var(--bg-second);
color: var(--text-light);
transition: color 0.25s ease, background-color 0.25s ease, transform 0.25s ease, box-shadow 0.25s ease;
padding: 5px 10px;

}

/* BOTÓN CV */
.boton-trasparente {
  position: relative;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--border-primary);
  box-shadow: 0 0 30px var(--border);
  background: linear-gradient(90deg, var(--primary), var(--primary-text), var(--primary), var(--primary-text), var(--primary));
  background-size: 300% 100%;
  animation: borde 3s linear infinite;
}


.boton-trasparente span {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--bg-2);
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes borde {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 300% 50%;
  }
}
