/* 
   HERO LEFT */

   /* Fuente Orbitron titulo principal */
.font-orbitron {
    font-family: "Orbitron", sans-serif;

}

/* Etiqueta superior
   <INGENIERO INFORMÁTICO/> */

.color-text-etiqueta {

    color: var(--text-label);

    font-weight: 600;

    letter-spacing: .08em;

}


/* 
   TITULO PRINCIPAL */


.diseño-titulo-br {

    background: linear-gradient(
        180deg,
        var(--title-purple-light),
        var(--title-cyan-dark)
    );

    font-weight: 900;

    color: transparent;


    -webkit-background-clip: text;
    background-clip: text;


    -webkit-text-stroke:
        1px var(--title-border-purple);


    text-shadow:
        0 0 10px rgba(92, 89, 145, 0),
        0 0 20px rgb(54, 0, 216);

}



.diseño-titulo-casas {


    background: linear-gradient(
        180deg,
        var(--title-cyan-light),
        var(--title-cyan-dark)
    );


    font-weight:900;

    color:transparent;


    -webkit-background-clip:text;
    background-clip:text;


    -webkit-text-stroke:
        1px var(--title-border-cyan);



    text-shadow:

        0 0 10px rgba(0, 208, 255, 0.1),
        0 0 20px rgb(0, 25, 216);


}


/* 
   ETIQUETA TECNOLOGÍA */

.texto-saludo {
  color: var(--color-muted);
}

/* 
   TEXTO PRESENTACIÓN */

.parrafo-presentacion {
  border-left: 2px solid var(--cyan-soft);
  padding-left: 1rem;
  line-height: 1.75;
  color: var(--color-muted);
  max-width: 36rem;
}




/* BOTÓN CV */

.boton-neon {
  position: relative;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
}

.boton-neon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, var(--purple-soft), var(--cyan-soft), var(--pink-soft), var(--purple-soft));
  background-size: 300% 100%;
  animation: borde 8s linear infinite;
}

.boton-neon span {
  position: relative;
  display: block;
  padding: 1rem 1.2rem;
  background: rgba(0, 0, 0, 0.86);
  color: var(--color-white);
  z-index: 1;
  border-radius: inherit;
}

@keyframes borde {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 300% 50%;
  }
}



