/* 
   HERO LEFT */

/* Fuente Orbitron titulo principal */
.font-orbitron {
  font-family: "Orbitron", sans-serif;

}

/* Etiqueta superior
   <INGENIERO INFORMÁTICO/> */

.color-text-etiqueta {

  color: var(--text-label);

  font-weight: 600;

  letter-spacing: .08em;

}


/* 
   TITULO PRINCIPAL */


.diseño-titulo-br {

  background: linear-gradient(180deg,
      var(--color-white-text-personality),
      var(--color-white-text-personality));

  font-weight: 900;

  color: transparent;


  -webkit-background-clip: text;
  background-clip: text;


  -webkit-text-stroke:
    1px var(--title-border-primary);

  /*
  text-shadow:
    0 0 10px rgba(4, 18, 60, 0),
    0 0 20px rgb(10, 30, 77);*/

}



.diseño-titulo-casas {


  background: linear-gradient(180deg,
      var(--color-blue-light-text-personality),
      var(--color-blue-light-text-personality));


  font-weight: 900;

  color: transparent;


  -webkit-background-clip: text;
  background-clip: text;


  -webkit-text-stroke:
    1px var(--color-blue-light);




}


/* 
   ETIQUETA TECNOLOGÍA */

.texto-saludo {
  color: var(--color-muted);
}

/* 
   TEXTO PRESENTACIÓN */

.parrafo-presentacion {
  border-left: 2px solid var(--color-border-blue-light);
  padding-left: 1rem;
  line-height: 1.75;
  color: var(--color-muted);
  max-width: 36rem;
}




/* BOTÓN CV */

.boton-trasparente {
  position: relative;
  display: inline-block;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--color-border-blue-light);
  box-shadow: 0 0 30px var(--color-border);
  background: linear-gradient(90deg, var(--primary), var(--primary-accent), var(--primary-highlight), var(--primary-accent), var(--primary));
  background-size: 300% 100%;
  animation: borde 3s linear infinite;
}


.boton-trasparente span {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  background-color: var(--color-bg-secondary);
  color: var(--color-white);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes borde {
  from {
    background-position: 0% 50%;
  }

  to {
    background-position: 300% 50%;
  }
}