.fondo-principal {
  background-image: url("./assets/img/backgrounds/fondo-principal.svg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.fondo-svg {
  background-image: url("./assets/img/backgrounds/fondo-estrellas.svg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

.gradiente-presentacion {
  background: linear-gradient(180deg, rgba(4, 8, 25, 0.9), rgba(1, 2, 12, 0.96));
}




