@import "tailwindcss";

/** Aquí haremos nuestros los estilos personalizados **/

/** 
shadow: Para mentener un estilo uniforme 
utilizaremos este shadow en los botones y 
otros elementos que lo requieran del mismo tipo.

A excepcion de titulos y otros elementos que requieran un shadow mas grande o mas pequeño.

**/


:root {

    /**Colores principales del proyecto**/
    --fondo-pagina-web: #01010F;
    --color-blanco: #ffffff;

    --color-principal: #6200ff9a;
    --color-secundario: #ff00ffa2;
    --color-terciario: #00ffffb0;

    /**Mismos colores principales desvanecidos para bordes **/

    --color-borde-principal: #6200ff9a;
    --color-borde-secundario: #ff00ffa2;
    --color-borde-terciario: #00ffffb0;

    --color-borde-principal-claro: #6200fffe;
    --color-borde-secundario-claro: #ff00ff;
    --color-borde-terciario-claro: #00ffff;

    --color-borde-desvanecido-50-1: rgba(193, 63, 213, 0.50);
    --color-borde-desvanecido-50-2: rgba(37, 12, 150, 0.50);
    --color-borde-desvanecido-50-3: rgba(1, 202, 247, 0.50);


    /**Sombras colores definidos para gradiente + un color añadido**/

    --color-sombra-1: #c13fd5;
    --color-sombra-2: #250C96;
    --color-sombra-3: #01caf7af;

    /**Color para el texto: <INGENIERO INFORMÁTICO/>**/

    --color-text-etiqueta-ing-informatico: #c13fd5;

    /**Color para el titulo principal y subtitulos con gradiente (ya definidos)**/

    --color-morado-titulo-principal-br-1: #ea48ff;
    --color-morado-titulo-principal-br-2: #290ab4;
    --color-azul-titulo-principal-casas-1: #01CAF7;
    --color-azul-titulo-principal-casas-2: #0019d8;
    
    --borde-titulo-principal-br: #8000ffcc;
    --borde-titulo-principal-casas: #063ef5cc;
--borde-titulo-principal-br: #c4abff;
    --borde-titulo-principal-casas: #19D5FF;
}

* {
    box-sizing: border-box;

} 

body {
    background-color: var(--fondo-pagina-web);
    font-size: 15px;
   
}

nav {
   /* box-shadow: 0px 0px 15px rgba(98, 0, 255, 0.311) ;*/

}

.fondo-personalizado-1 {
  background-color: var(--color-borde-principal-claro);
}

.fondo-personalizado-2 {
  background-color: var(--color-borde-secundario-claro);
}

.fondo-personalizado-3 {
  background-color: var(--color-borde-terciario-claro);
}

/* bordes para Gradientes personalizados */

.border-personalizado-1 {
  border:  1px solid var(--color-borde-principal);

}

.border-personalizado-2 {
  border:  1px solid var(--color-borde-secundario);

}

.border-personalizado-3 {
  border:  1px solid var(--color-borde-terciario);

}

.gradient-border {
  background: linear-gradient(
    90deg,
    var(--color-borde-principal),
    var(--color-borde-secundario),
    var(--color-borde-terciario)
  );
}

.gradient-border-morado-verde {
  background: linear-gradient(
    90deg,
    var(--color-borde-secundario),
    var(--color-borde-terciario)
  );
}

.gradient-border-verde-morado {
  background: linear-gradient(
    90deg,
    var(--color-borde-terciario),
    var(--color-borde-secundario)
  );
}

/*APASIONADO CON LA TECNOLOGIA */

.gradient-border-apasionado {
  background: linear-gradient(
    90deg,
    var(--color-borde-secundario-claro),
    var(--color-borde-desvanecido-50-2),
    var(--fondo-pagina-web),
    var(--color-borde-desvanecido-50-2),
    var(--color-borde-secundario-claro)

  );
  /*box-shadow: 0px 0px 15px rgba(98, 0, 255, 0.311)*/
}


@theme {
  --color-fondo-pagina: #01010F;
}

/* TEXT SHADOW PERSOLAIZADO */

.text-shadow-1 {
  text-shadow: 0 0 10px var(--color-sombra-1);
  color: var(--color-borde-principal-claro);
}

/* Color para el texto: <INGENIERO INFORMÁTICO/>*/

.color-text-etiqueta {
  color: var(--color-text-etiqueta-ing-informatico);

}

/* Fuente Orbitron titulo principal */
.font-orbitron {
    font-family: "Orbitron", sans-serif;

}

.diseño-titulo-br { 
    background: linear-gradient(180deg, #ea48ff, #290ab4);
    font-weight: 1000;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 20px #8000ffcc;
    -webkit-text-stroke: 1px var(--borde-titulo-principal-br);    /** Borde de los titulos :)**/
}


.diseño-titulo-casas {
    background: linear-gradient(180deg, #01CAF7, #0019d8);
    font-weight: 1000;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0px 0px 20px #063ef5cc;
    -webkit-text-stroke: 1px var(--borde-titulo-principal-casas);    /** Borde de los titulos :)**/
}


.diseño-sub-titulos-azul {
  background: linear-gradient(100deg, #01CAF7, #0019d8);
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 25px #063ef5b3;
  -webkit-text-stroke: 0.4px var(--borde-titulo-principal-casas);    /** Borde de los titulos :)**/


}

.diseño-sub-titulos-morado {
  background: linear-gradient(250deg, #ea48ff, #290ab4);
  font-weight: 600;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 0px 25px #8000ffb3;
  -webkit-text-stroke: 0.4px var(--borde-titulo-principal-br);    /** Borde de los titulos :)**/


}

.parrafo-presentacion { 
    border-left: 2px solid var(--color-azul-titulo-principal-casas-1);

}

/* -- BORDES TRANGULARES -- */

/* Las cuatro esquinas cortadas */
.borde-triangulo-all {
  clip-path: polygon(
    20px 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    20px 100%,
    0 calc(100% - 20px),
    0 20px
  );
}

.borde-triangulo > * {
  clip-path: inherit;
}


.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00ffff;
  width: 0;
  cursor: default;

  animation:
    typing 3s steps(24, end) forwards,
    blink .8s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 25ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


/* seccion 2  */

.decoracion-seccion {
  background-color: var(--fondo-pagina-web);
  /* box-shadow: 0px 0px 50px 60px #000000 ;*/
    border-top-left-radius: 2px solid var(--color-azul-titulo-principal-casas-1) ;
    border: 1px solid var(--color-azul-titulo-principal-casas-1) ;

}

.sobre-mi-border-top { 
    border-top: 0px solid var(--color-azul-titulo-principal-casas-1) ;
}

.parrafo-sobre-mi { 
    border-left: 0px solid var(--color-azul-titulo-principal-casas-1) ;
}