@import "tailwindcss";

/** Aquí haremos nuestros los estilos personalizados **/

:root {
  /* BASE */

  --color-bg: #00010A;
  --color-white: #ffffff;
  /* PALETA PRINCIPAL*/

  --purple: #6200ff;
  --pink: #ff00ff;
  --cyan: #00ffff;

  /* PALETA TRANSPARENTE
    (bordes / fondos suaves) */

  --purple-soft: rgba(98, 0, 255, .50);
  --pink-soft: rgba(255, 0, 255, .60);
  --cyan-soft: rgba(0, 255, 255, .60);


  /* COLORES SECUNDARIOS
       (glow / sombras)
     */

  --glow-purple: #250C96;
  --glow-pink: #c13fd5;
  --glow-cyan: #01caf7;


  /* TEXTO ETIQUETAS */

  --text-label: #c13fd5;


  /* TITULOS GRADIENTE */

  --title-purple-light: #ff8cff;
  --title-purple-dark: #0044ff;

  --title-cyan-light: #01f7f3;
  --title-cyan-dark: #0019d8;


  /* BORDES DE TITULOS */

  --title-border-purple: #bea3ff;
  --title-border-cyan: #19D5FF;


}



body {

  background: var(--color-bg);
  color: var(--color-blanco);

  /*font-family:"Inter",sans-serif;*/
  font-size: 15px;
  font-family: "Sora", sans-serif;

}

/* FONDOS */

.color-fondo-principal {
  background-color: var(--color-bg);
}

.fondo-purple {
  background-color: var(--purple);
}

.fondo-pink {
  background-color: var(--pink);
}

.fondo-cyan {
  background-color: var(--cyan);
}

.fondo-seccion {
  
 /*margin: 0;*/
  min-height: 100vh;
  background-color: #050014;
  background-image:
    radial-gradient(circle at 15% 20%, rgba(34, 92, 238, 0.10), transparent 40%),
    radial-gradient(circle at 85% 80%, rgba(192, 38, 211, 0.10), transparent 40%),
    url('patron-circuito.svg');
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: cover, cover, 190px 190px;

}

/* BORDES */

.border-purple {

  border: 1px solid var(--purple-soft);

}

.border-pink {

  border: 1px solid var(--pink-soft);

}

.border-cyan {

  border: 1px solid var(--cyan-soft);

}

.shadow-index {

text-shadow: 0 0 10px var(--purple-soft);

}

/* GRADIENTES */

.gradient-main {

  background: linear-gradient(90deg,
      var(--purple),
      var(--pink),
      var(--cyan));

}


.gradient-purple {

  background: linear-gradient(180deg,
      var(--title-purple-light),
      var(--title-purple-dark));

}


.gradient-cyan {

  background: linear-gradient(180deg,
      var(--title-cyan-light),
      var(--title-cyan-dark));

}

/* SUBTITULOS */

.subtitle-cyan {

  background: linear-gradient(100deg,
      var(--title-cyan-light),
      var(--title-cyan-dark));

  font-weight: 600;

  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;

  text-shadow:
    0 0 25px rgba(6, 62, 245, .7);

  -webkit-text-stroke:
    .4px var(--title-border-cyan);

}



.subtitle-purple {

  background: linear-gradient(250deg,
      var(--title-purple-light),
      var(--title-purple-dark));


  font-weight: 600;

  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;


  text-shadow:
    0 0 25px rgba(128, 0, 255, .7);


  -webkit-text-stroke:
    .4px var(--title-border-purple);

}


/* -- BORDES TRANGULARES -- */

/* Las cuatro esquinas cortadas */
.borde-triangulo-all {

  clip-path: polygon(15px 0,
      calc(100% - 15px) 0,
      100% 15px,
      100% calc(100% - 15px),
      calc(100% - 15px) 100%,
      15px 100%,
      0 calc(100% - 15px),
      0 15px);

}

.borde-triangulo>* {
  clip-path: inherit;
}



.gradiente-presentacion {
  /*background: linear-gradient(#030336, #01010F);*/
}