.decoracion-seccion {
  /*  background: */
       /* radial-gradient(
            circle 2500px at bottom,
            rgba(0, 255, 200, 0.0), /* 0.1 */
           /* transparent 24%
        ),*/
       
      /*  linear-gradient(
            180deg,
            var(--bg) 0%,
            var(--bg) 100%
        );*/

    /*
    border-top: 1px solid;
    border-image:
        linear-gradient(
            to right,
            #050906,
            rgba(104, 132, 125, 0.65),
            #050906
        ) 1;

    border-bottom: 1px solid;
    border-image:
        linear-gradient(
            to right,
            #050906,
            rgba(104, 132, 125, 0.65),
            #050906
        ) 1;
    */

   
}*/

.img-sobre-mi {
    box-shadow: 0 0 15px #000000;
}


.tarjetas {
    position: relative;
    background: transparent;
    color: var(--white);
    backdrop-filter: blur(14px);
    cursor: default;
    border: 1px solid var(--border);
    text-shadow: 0px 0px 10px var(--white);
    /*box-shadow: 0 0 15px #000000;*/

    /* background:
        radial-gradient(circle 1200px at bottom, #182b1e, transparent 24%),

        radial-gradient(500px at bottom , rgba(0, 0, 0, 0), transparent 45%),
        linear-gradient(180deg, #050906 0%, #050906 100%);*/



    background:  oklch(0.18 0.01 205 / 55%); /* FONDO DE LOS div*/


    backdrop-filter: blur(14px);
    /*Diseño opcional*/
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid var(--border);

    box-shadow:
        /*Diseño opcional*/
        inset 0 1px 0 rgba(255, 255, 255, 0.05),
        inset 0 0 20px rgba(18, 39, 79, 0.15),
        0 8px 30px rgba(0, 0, 0, 0.25);
}



.div-diseño-iconos {
    /* filter: drop-shadow(0 0 4px var(--border-primary)); /* Para darle shadow a los svg */
    border: 1px solid var(--border);
    border-radius: 100%;
    box-shadow: inset 0 0 15px rgba(18, 39, 79, 0.2);
}


.titulo-tarjeta {
    /* border-bottom: 3px solid var(--border-primary);*/
}

.descripcion-tarjeta {
    position: relative;
    color: var(--text-muted);
    border-bottom: 0px solid var(--border);
    text-shadow: none;
}

.descripcion-tarjetas::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: var(--border);
    box-shadow:
        0 0 8px var(--border),
        0 0 18px var(--border);
}

.parrafo-sobre-mi {
    border-left: 0px solid var(--border-primary);
    color: var(--text-muted);
}

/* Arriba y abajo imagen y marco */

/*
.animacion-flotante-foto {
    animation: arriba-abajo 17s ease-in-out infinite;
    transform-origin: center;
}*/

@keyframes arriba-abajo {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    25% {
        transform: translateY(-8px) rotate(2deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    75% {
        transform: translateY(8px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
