.decoracion-seccion {
    background: 

     radial-gradient(circle 2500px  at bottom  , rgba(0, 255, 200, 0.149), transparent 24%),
    radial-gradient(circle 1000px  at bottom  , rgba(0, 255, 200, 0.10), transparent 24%),
     radial-gradient(circle 500px  at bottom  , rgba(0, 255, 200, 0.100), transparent 24%),

        linear-gradient(180deg, #050906 0%, #050906 100%);

    border-top: 1px solid;
    border-image: linear-gradient(to right, #050906, rgba(104, 132, 125, 0.65), #050906) 1;

    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #050906, rgba(104, 132, 125, 0.65), #050906) 1;

}

.img-sobre-mi {
    box-shadow: 0 0 15px #000000;
}

.seccion-tarjetas {}

.tarjetas {
    position: relative;
    background: transparent;
    color: var(--color-white);
    backdrop-filter: blur(14px);
    cursor: default;
    border: 1px solid var(--color-border);
    text-shadow: 0px 0px 10px var(--color-white);
    /*box-shadow: 0 0 15px #000000;*/

    /* background:
        radial-gradient(circle 1200px at bottom, #182b1e, transparent 24%),

        radial-gradient(500px at bottom , rgba(0, 0, 0, 0), transparent 45%),
        linear-gradient(180deg, #050906 0%, #050906 100%);*/



    background: rgba(255, 255, 255, 0.020);


    backdrop-filter: blur(14px);
    /*Diseño opcional*/
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid var(--color-border);

    box-shadow:
        /*Diseño opcional*/
        inset 0 1px 0 rgba(255, 255, 255, 0.05),
        inset 0 0 20px rgba(18, 39, 79, 0.15),
        0 8px 30px rgba(0, 0, 0, 0.25);
}



.div-diseño-iconos {
    /* filter: drop-shadow(0 0 4px var(--color-border-blue-light)); /* Para darle shadow a los svg */
    border: 1px solid var(--color-border);
    border-radius: 100%;
    box-shadow: inset 0 0 15px rgba(18, 39, 79, 0.2);
}


.titulo-tarjeta {
    /* border-bottom: 3px solid var(--color-border-blue-light);*/
}

.descripcion-tarjeta {
    position: relative;
    color: var(--color-grey-text);
    border-bottom: 0px solid var(--color-border);
    text-shadow: none;
}

.descripcion-tarjetas::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background: var(--color-border);
    box-shadow:
        0 0 8px var(--color-border),
        0 0 18px var(--color-border);
}

.parrafo-sobre-mi {
    border-left: 0px solid var(--color-border-blue-light);
    color: var(--color-grey-text);
}

/* Arriba y abajo imagen y marco */

/*
.animacion-flotante-foto {
    animation: arriba-abajo 17s ease-in-out infinite;
    transform-origin: center;
}*/

@keyframes arriba-abajo {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    25% {
        transform: translateY(-8px) rotate(2deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    75% {
        transform: translateY(8px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}


.fondo-svg {
    background-image: url(".assets/img/backgrounds/fondo-estrellas.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}